@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.customPrimaryButton {
  color: "#fcfcfd";
  border: 1.5px solid #12367f;
  background: linear-gradient(0deg, #246bfd, #246bfd),
    linear-gradient(0deg, #12367f, #12367f);
}

.customSecondaryButton {
  transition: all ease-in-out 300ms;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    65.73% 137.5% at 50% 50%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
